* {
  font-family: "Open sans";
}
nav i {
  color: #f86f03;
  font-size: 2rem;
}
#hero {
  background-image: url("../images/herobackground.jpg");
  background-size: cover;
}
#hero img {
  max-height: 700px;
}

#features i {
  font-size: 2rem;

  color: #f86f03;
}

#whoisfor {
  background-color: ghostwhite;
}

#whoisfor i {
  font-size: 2rem;
  color: #f86f03;
}

footer p {
  margin: 0;
}

#testimonials {
  background-color: ghostwhite;
}
.btn-custom {
  background-color: #f86f03;
  color: #fff; /* You can set the text color to your preference */
  /* Add other styles like padding, border, etc., if needed */
}
/* Add the hover effect for the button */
.btn-custom:hover {
  background-color: #ffa200; /* Change this to the desired hover color */
  /* You can also modify other styles for the hover state if needed */
}

.accordion-button {
  background-color: #f86f03 !important;

  color: white !important;
}

.accordion-button::after {
  background-image: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}

/* #testimonials .card {
  height: 100%;
} */

#testimonials i {
  font-size: 1.5rem;
  color: #f86f03;
}

#abouttheauthor {
  background-color: ghostwhite;
}
